<a href="https://colab.research.google.com/github/park-geun-hyeong/Kaggle_project/blob/main/Classification/Binary_Classification/Porto/make_data_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Library import

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings 
warnings.filterwarnings('ignore')

import os
from glob import glob

from sklearn.utils import shuffle
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.impute import SimpleImputer

from sklearn.feature_selection import SelectFromModel, VarianceThreshold

In [3]:
path = '/content/drive/MyDrive/Kaggle/Classification/kaggle_Porto/' 

train = pd.read_csv(path+"train.csv")
test = pd.read_csv(path+'test.csv')
submission = pd.read_csv(path+'sample_submission.csv')

In [5]:
print(train.shape, test.shape, submission.shape) ## There are 58 variables

(595212, 59) (892816, 58) (892816, 2)

In [6]:
train.isna().sum().sum() ## No missing values

0

## Make dataframe according to features type

In [7]:
train

             id  target  ...  ps_calc_19_bin  ps_calc_20_bin
0             7       0  ...               0               1
1             9       0  ...               1               0
2            13       0  ...               1               0
3            16       0  ...               0               0
4            17       0  ...               1               0
...         ...     ...  ...             ...             ...
595207  1488013       0  ...               1               1
595208  1488016       0  ...               1               1
595209  1488017       0  ...               0               0
595210  1488021       0  ...               0               0
595211  1488027       0  ...               0               0

[595212 rows x 59 columns]

In [31]:
for f in train.columns:
    if 'bin' in f:
        print(f)
        print(train[f].value_counts())
        print("===============")

    elif 'cat' in f:
        print(f)
        print(train[f].value_counts().sort_index())
        print("=================")

ps_ind_02_cat
-1       216
 1    431859
 2    123573
 3     28186
 4     11378
Name: ps_ind_02_cat, dtype: int64
=================
ps_ind_04_cat
-1        83
 0    346965
 1    248164
Name: ps_ind_04_cat, dtype: int64
=================
ps_ind_05_cat
-1      5809
 0    528009
 1      8322
 2      4184
 3      8233
 4     18344
 5      1649
 6     20662
Name: ps_ind_05_cat, dtype: int64
=================
ps_ind_06_bin
0    360852
1    234360
Name: ps_ind_06_bin, dtype: int64
===============
ps_ind_07_bin
0    442223
1    152989
Name: ps_ind_07_bin, dtype: int64
===============
ps_ind_08_bin
0    497644
1     97568
Name: ps_ind_08_bin, dtype: int64
===============
ps_ind_09_bin
0    484917
1    110295
Name: ps_ind_09_bin, dtype: int64
===============
ps_ind_10_bin
0    594990
1       222
Name: ps_ind_10_bin, dtype: int64
===============
ps_ind_11_bin
0    594205
1      1007
Name: ps_ind_11_bin, dtype: int64
===============
ps_ind_12_bin
0    589594
1      5618
Name: ps_ind_12_bin, dtype: int64
===============
ps_ind_13_bin
0    594648
1       564
Name: ps_ind_13_bin, dtype: int64
===============
ps_ind_16_bin
1    393330
0    201882
Name: ps_ind_16_bin, dtype: int64
===============
ps_ind_17_bin
0    523143
1     72069
Name: ps_ind_17_bin, dtype: int64
===============
ps_ind_18_bin
0    503879
1     91333
Name: ps_ind_18_bin, dtype: int64
===============
ps_car_01_cat
-1        107
 0       5904
 1       1367
 2       2144
 3       6658
 4      26174
 5      18142
 6      62393
 7     179247
 8      15093
 9      20323
 10     50087
 11    207573
Name: ps_car_01_cat, dtype: int64
=================
ps_car_02_cat
-1         5
 0    101217
 1    493990
Name: ps_car_02_cat, dtype: int64
=================
ps_car_03_cat
-1    411231
 0     73272
 1    110709
Name: ps_car_03_cat, dtype: int64
=================
ps_car_04_cat
0    496581
1     32115
2     23770
3       640
4       230
5       545
6      1560
7       139
8     20598
9     19034
Name: ps_car_04_cat, dtype: int64
=================
ps_car_05_cat
-1    266551
 0    155994
 1    172667
Name: ps_car_05_cat, dtype: int64
=================
ps_car_06_cat
0     110420
1     118386
2       1607
3      11997
4      31136
5       1401
6      20951
7      16158
8       1412
9      17617
10     33466
11    131527
12      2386
13      6246
14     59253
15     21732
16      4582
17      4935
Name: ps_car_06_cat, dtype: int64
=================
ps_car_07_cat
-1     11489
 0     30575
 1    553148
Name: ps_car_07_cat, dtype: int64
=================
ps_car_08_cat
0     99948
1    495264
Name: ps_car_08_cat, dtype: int64
=================
ps_car_09_cat
-1       569
 0    194518
 1     29080
 2    353482
 3     14756
 4      2807
Name: ps_car_09_cat, dtype: int64
=================
ps_car_10_cat
0      4857
1    590179
2       176
Name: ps_car_10_cat, dtype: int64
=================
ps_car_11_cat
1       3331
2       2553
3       3185
4       1596
5      12513
       ...
100     4445
101     7339
102     2103
103    24262
104    85083
Name: ps_car_11_cat, Length: 104, dtype: int64
=================
ps_calc_15_bin
0    522342
1     72870
Name: ps_calc_15_bin, dtype: int64
===============
ps_calc_16_bin
1    373698
0    221514
Name: ps_calc_16_bin, dtype: int64
===============
ps_calc_17_bin
1    329856
0    265356
Name: ps_calc_17_bin, dtype: int64
===============
ps_calc_18_bin
0    424278
1    170934
Name: ps_calc_18_bin, dtype: int64
===============
ps_calc_19_bin
0    387469
1    207743
Name: ps_calc_19_bin, dtype: int64
===============
ps_calc_20_bin
0    503955
1     91257
Name: ps_calc_20_bin, dtype: int64
===============

In [17]:
data = []

for f in train.columns:
    
    ## make role
    if f=='target':
        role='target'
    elif f=='id':
        role='id'

    else:
        role='input'

    
    ## make level
    if 'bin' in f or f=='target':
        level = 'binary'

    elif 'cat' in f or f=='id':
        level = 'norminal'

    elif train[f].dtype == int:
        level = 'ordinal'

    elif train[f].dtype == float:
        level = 'interval'

    ## make keep
    if f=='id':
        keep = False
    else:
        keep = True

    ## make dtype

    dtype = train[f].dtype

    data.append({"varname":f,"role":role, "level":level, "keep":keep, "dtype":dtype})

In [19]:
data = pd.DataFrame(data).set_index('varname')
data

                  role     level   keep    dtype
varname
id                  id  norminal  False    int64
target          target    binary   True    int64
ps_ind_01        input   ordinal   True    int64
ps_ind_02_cat    input  norminal   True    int64
ps_ind_03        input   ordinal   True    int64
ps_ind_04_cat    input  norminal   True    int64
ps_ind_05_cat    input  norminal   True    int64
ps_ind_06_bin    input    binary   True    int64
ps_ind_07_bin    input    binary   True    int64
ps_ind_08_bin    input    binary   True    int64
ps_ind_09_bin    input    binary   True    int64
ps_ind_10_bin    input    binary   True    int64
ps_ind_11_bin    input    binary   True    int64
ps_ind_12_bin    input    binary   True    int64
ps_ind_13_bin    input    binary   True    int64
ps_ind_14        input   ordinal   True    int64
ps_ind_15        input   ordinal   True    int64
ps_ind_16_bin    input    binary   True    int64
ps_ind_17_bin    input    binary   True    int64
ps_ind_18_bin    input    binary   True    int64
ps_reg_01        input  interval   True  float64
ps_reg_02        input  interval   True  float64
ps_reg_03        input  interval   True  float64
ps_car_01_cat    input  norminal   True    int64
ps_car_02_cat    input  norminal   True    int64
ps_car_03_cat    input  norminal   True    int64
ps_car_04_cat    input  norminal   True    int64
ps_car_05_cat    input  norminal   True    int64
ps_car_06_cat    input  norminal   True    int64
ps_car_07_cat    input  norminal   True    int64
ps_car_08_cat    input  norminal   True    int64
ps_car_09_cat    input  norminal   True    int64
ps_car_10_cat    input  norminal   True    int64
ps_car_11_cat    input  norminal   True    int64
ps_car_11        input   ordinal   True    int64
ps_car_12        input  interval   True  float64
ps_car_13        input  interval   True  float64
ps_car_14        input  interval   True  float64
ps_car_15        input  interval   True  float64
ps_calc_01       input  interval   True  float64
ps_calc_02       input  interval   True  float64
ps_calc_03       input  interval   True  float64
ps_calc_04       input   ordinal   True    int64
ps_calc_05       input   ordinal   True    int64
ps_calc_06       input   ordinal   True    int64
ps_calc_07       input   ordinal   True    int64
ps_calc_08       input   ordinal   True    int64
ps_calc_09       input   ordinal   True    int64
ps_calc_10       input   ordinal   True    int64
ps_calc_11       input   ordinal   True    int64
ps_calc_12       input   ordinal   True    int64
ps_calc_13       input   ordinal   True    int64
ps_calc_14       input   ordinal   True    int64
ps_calc_15_bin   input    binary   True    int64
ps_calc_16_bin   input    binary   True    int64
ps_calc_17_bin   input    binary   True    int64
ps_calc_18_bin   input    binary   True    int64
ps_calc_19_bin   input    binary   True    int64
ps_calc_20_bin   input    binary   True    int64

In [27]:
pd.DataFrame({"count":data.groupby(['role','level'])['level'].count()})

                 count
role   level
id     norminal      1
input  binary       17
       interval     10
       norminal     14
       ordinal      16
target binary        1

In [29]:
data.to_csv(path+'data.csv', index=False)